//fonts
$google-font: "https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600";

$baseFontSize: 16px;
$baseFontFamily: "Josefin Sans", sans-serif;
$mediumFontWeight: 500;

// Colors
$black: #000000;
$white: #ffffff;
$grayPrim: #e7e7e7;
$spanGray: #3d4146;
$graySecondary: #666666;
$offWhite: #eeeeee;
